# pycache files
**/*.py{o,c}
**/__pycache__/

# demo files
.ipynb_checkpoints/

# Dev. related stuff
.dev/
.tools/

# IDE Files
.idea/
.vs/
.vscode/

# VirtEnv
.venv/
.env/
venv/

.pytest_cache/
.ruff_cache/

**/*.ipynb

.agents/
.codex/